.header {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 30px;
    color: #fff;
    padding-left: 10%;
    /* background: pink; */
}
.header div {
    display: inline-block;
}
.userInfo {
    cursor: pointer;
}
.menu {
    box-sizing: border-box;
    padding-right: 10%;
    padding-left: 30%;
}
.menu span {
    margin: 0 50px;
}